/*
 * written by andrewt@cse.unsw.edu.au September 2016
 * as a starting point for COMP2041/9041 assignment 2
 * http://cgi.cse.unsw.edu.au/~cs2041/assignments/matelook/
 *
 * Change (or replace) the CSS below to create you own look-and-feel
 *
 * You will probably want to add  CSS to this file too
 */

.matelook_heading {
    position:absolute;
    padding-bottom: 1em;
    color: #636870;
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    font-family: Verdana;
    right: 5px;

}
.matelook_exit{
    top: 40px;
    right: 10px;
    float:right;
    text-align: right;
    position: absolute;
}
.matelook_usr_name {
    display: inline;
    position: relative;
    left: 220px;
    width: 600px;
    padding-bottom: 1em;
    color: #636870;
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    font-family: Verdana;

}
.matelook_mate_list {
    position: relative;
    top: 5px;
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
}
.matelook_mate_img {
    width: 40px;
    height: 40px;
    vertical-align:middle;
    
}
a:link, a:visited, a:active{
    text-decoration:none;   
    font-weight: bold;
    font-color: #636870;
    color: #636870;
}
a:hover{
    font-color: white;
    background-color: #00ffff;
    font-weight: bold;
    
}
.matelook_usr_info1 {
    position: relative;
    font-family: Verdana;
    font-size: 12px;
    top: 20px;
    left: 220px;
    color: #636870;

}
.matelook_user_p{
    position: relative;
    font-size: 10px;
    top: 10px;
    left: 220px;
    border: solid;
    border-width: 2px;
    border-color: #ABAAAA;
    padding: 4px;
    font-family: Verdana;
    
}
.matelook_change_img{
    position: absolute;
    font-size: 10px;
    top: 350px;
    border: solid;
    border-width: 2px;
    border-color: #ABAAAA;
    padding: 4px;
    font-family: Verdana;
    
}
.matelook_privacy1{
    position: absolute;
    font-size: 10px;
    top: 320px;
    right: 5px;
    border: solid;
    border-width: 2px;
    border-color: #ABAAAA;
    padding: 4px;
    font-family: Verdana;
    
}
.matelook_privacy2{
    position: absolute;
    font-size: 10px;
    top: 350px;
    right: 5px;
    border: solid;
    border-width: 2px;
    border-color: #ABAAAA;
    padding: 4px;
    font-family: Verdana;
    
}
.matelook_privacy3{
    position: absolute;
    font-size: 10px;
    top: 380px;
    right: 5px;
    border: solid;
    border-width: 2px;
    border-color: #ABAAAA;
    padding: 4px;
    font-family: Verdana;
    
}
.matelook_privacy4{
    position: absolute;
    font-size: 10px;
    top: 410px;
    right: 5px;
    border: solid;
    border-width: 2px;
    border-color: #ABAAAA;
    padding: 4px;
    font-family: Verdana;
    
}
.matelook_delete_back{
    position: absolute;
    font-size: 10px;
    top: 380px;
    border: solid;
    border-width: 2px;
    border-color: #ABAAAA;
    padding: 4px;
    font-family: Verdana;
    
}
.matelook_change_back{
    position: absolute;
    font-size: 10px;
    top: 410px;
    border: solid;
    border-width: 2px;
    border-color: #ABAAAA;
    padding: 4px;
    font-family: Verdana;
    
}
.matelook_file{
    position: absolute;
    font-size: 10px;
    top: 325px;
    left: 150px;
    font-family: Verdana;
    
}
.matelook_file_submit{
    position: absolute;
    font-size: 10px;
    top: 355px;
    left: 150px;
    font-family: Verdana;
    
}
.matelook_delete_img{
    position: absolute;
    font-size: 10px;
    top: 320px;
    border: solid;
    border-width: 2px;
    border-color: #ABAAAA;
    padding: 4px;
    font-family: Verdana;
    
}
.matelook_user_del{
    font-size: 12px;
    left: 4px;
    border: solid;
    border-width: 2px;
    border-color: #ABAAAA;
    padding: 4px;
    
}
.matelook_post_a {
    font-size: 12px;
    border-left: solid;
    border-width: 2px;
    border-color: #ABAAAA;
    padding-left: 10px;

}
.matelook_post_a2 {
    position: relative;
    width: 100%;
    left: 30px;
    top: 5px;
    bottom: 10px;
    padding-left: 10px;
    color: #636870;
    font-family: Verdana;
    font-size: 10px;
    border-left: solid;
    border-width: 2px;
    border-color: #ABAAAA;

}
.matelook_comment_a {
    font-size: 12px;
    padding-left: 5px;
}
.matelook_mate_block {
    display: inline-block;
    text-align: center;
    font-family: Verdana;
    color: #636870;
    padding-top: 14px 
    vertical-align: middle;
    padding-right: 5px;
    font-size: large;
}
.matelook_usr_info {
    position: relative;
    font-family: Verdana;
    font-size: large;
    left: 220px;
    color: #636870;

}
.matelook_usr_info2 {
    position: relative;
    font-family: Verdana;
    font-size: normal;
    top: 40px;
    font-style: italic;
    left: 220px;
    color: #636870;

}
.vertical_line3 {
    position: absolute;
    width: 100%;
    top: 450px;
    border-top: double #0099cc;
}
.vertical_line {
    position: absolute;
    width: 100%;
    top: 330px;
    border-top: double #0099cc;
}
.vertical_line2 {
    position: relative;
    width: 100%;
    top: 10px;
    bottom: 10px;
    border-top: double #0099cc;

}
.matelook_search_post {
    width: 98%;
    max-height: 400px;
    overflow: auto;
    white-space: nowrap;
}
.matelook_post {
    position: relative;
    top: 10px;
    bottom: 10px;
    padding: 10px;
    color: #636870;
    font-family: Verdana;
    font-size: 12px;
    border-left: solid;
    border-width: 2px;
    border-color: #ABAAAA;
}
.matelook_comment {
    position: relative;
    width: 100%;
    left: 30px;
    top: 10px;
    bottom: 10px;
    padding: 10px;
    color: #636870;
    font-family: Verdana;
    font-size: 12px;
    border-left: solid;
    border-width: 2px;
    border-color: #ABAAAA;
    
}
.matelook_title {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #636870;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana;
    
}
.matelook_mini_title {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #636870;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana;
    
}
.matelook_profile_img {
    position: absolute;
    width: 200px;
    height: 300px;
    border-style: double;
    border-color: #0099cc;
    float: left;
}
.matelook_back_img {
    position: absolute;
    left: 220px;
    width: 84%;
    height: 310px;
    opacity: 0.3;
}
.matelook_login {
    background-color: #0099cc;
    text-align: center;

}
.matelook_field { 
    position: relative;
    left: 3px;
}
.matelook_login_text {
    background-color: white;
    position: relative;
    font-family: Verdana;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius:10px;
    color: #383838;

}
.matelook_login_text1 {
    background-color: white;
    position: relative;
    font-family: Verdana;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #383838;
    width: 70%;
    left: 100px;
    padding: 4px;

}
.matelook_login_text2 {
    background-color: white;
    position: relative;
    font-family: Verdana;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #383838;
    width: 70%;
    left: 100px;
    padding: 4px;

}
.matelook_login_heading {
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    font-family: Verdana;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius:10px;
    color: #383838;

}
.matelook_login_bar {
    background-color: white;
    position: relative;
    padding-left; 30px;
    border-radius: 10px;
    width: 30%;
    height: 400%;
}
.matelook_warning {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 1em;
    position: relative;
    font-family: Verdana;
    text-align: center;
    font-size: 12px;
    border-radius:10px;
    color: red;
    
}
.matelook_warning1{
    background-color: white;
    position: relative;
    font-family: Verdana;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: red;
    width: 70%;
    left: 100px;
    padding: 4px;
    
}
.matelook_logout{
    float: right;
    position: absolute;
    top: 30px;
    right: 1px;
    padding: 5px;
}
.matelook_setting{
    float: right;
    position: absolute;
    top: 50px;
    right: 1px;
    padding: 5px;
}
.matelook_sub_add{
    float: right;
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 5px;
}
.matelook_user_details {
    background-color: #ABCDEF;
    color: #204142;
    white-space: pre;
    border:thin solid #204142;
    border-radius: 1em;
    padding-left: 0.42em;
}

.matelook_button {
    background-color: #FEDBCA;
    border:thin solid #904142;
    border-radius: 0.42em;
    color: #904142;
}
